
<html lang="ja">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="stylesheet" href="/assets/css/style.css"/>
    <title>Flock マークアップもくもく会</title>
    <meta name="description" content="Flock マークアップもくもく会"/>
  </head>
  <body>
    <header class="header"></header>
    <main class="main">
      <h1>Flock マークアップもくもく会</h1>
    </main>
    <footer class="footer"></footer>
    <script src="/assets/js/main.js"></script>
  </body>
</html>
